@model SRA.Models.InputTipiRischioModel
<!-- Modal -->
<div class="modal fade" id="mod-stato" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addContactLabel">Aggiungi/Modifica TipoRischio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>


            <div class="modal-body">
                <form id="idnuovarischio" asp-page-handler="AggModTipoRischio" method="post">
                    Nome Tipologi di Rischio<br />
                    <input asp-for="@Model.TipoRischio.Nome" class="form-control" />
                    <br />
                    Descrizione <br />
                    <input asp-for="@Model.TipoRischio.DescrizioneTipoRischio" class="form-control" />
                    <br />
                    <input type="hidden" asp-for="TipoRischio.ID" value="@Model.TipoRischio.ID" /><br /><br />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                    <button type="submit" class="bottone bottone1" data-save="modal">Salva</button>
                </form>

            </div>
            <br />

            <div class="modal-footer">
            </div>

        </div>
    </div>
</div>

<script>



</script>