@page
@model RegisterModel
@{
    ViewData["Title"] = "Registra nuovo utente";
}

<h2>@ViewData["Title"]</h2>
<hr />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="Input.RuoloUtente" asp-items="@Model.ListaRuoliUtente" ></select>
                <br /><br />
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="bottone bottone1">Registra</button>
        </form>
    </div>
</div>

@if(!String.IsNullOrEmpty(Model.Messaggio))
{
<p style="color:red">@Model.Messaggio</p>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
