@page
@model SRA.Pages.AnalisiRischiModel
@{
}
@{
    ViewData["Title"] = "Analisi dei rischi";
}

<div>Analisi dei rischi</div>
<div class="container-fluid">
    <div class="row align-items-start">
        <div class="col text-center p-5">
            <div class="row"><a href="./Rischi/IndexRischi" class="bottone bottone1">Rischi</a></div><br />
            <div class="row"><a href="./Misure/IndexMisure" class="bottone bottone1">Contromisure</a></div><br />
            <div class="row"><a href="./ApplicazioniRischi/IndexApplicazioniRischi" class="bottone bottone1">Valutazione dei Rischi associati</a></div>
        </div>
        <div class="col text-center p-5">
            <div class="row"><a href="./TipiRischio/IndexTipiRischio" class="bottone bottone1">Tipologie di Rischio</a></div><br />
            <div class="row"><a href="./ImpattoMisure/IndexImpattoMisure" class="bottone bottone1"> Impatto Contromisure</a></div>

        </div>
    </div>


