@page
@model SRA.Pages.CensimentoITModel
@{
}
@{
    ViewData["Title"] = "Censimento IT";
}
<div>  <h2>Censimento IT</h2></div>

<div class="container-fluid">
    <div class="row align-items-start">
        <div class="col text-center p-5">

            <div class="row"><a href="./Applicazioni/IndexApplicazioni" class="bottone bottone1">Applicazioni</a></div><br />
            <div class="row"><a href="./Basidati/IndexBasidati" class="bottone bottone1">Basi di Dati</a></div><br />
            <div class="row"><a href="./Aziende/IndexAziende" class="bottone bottone1">Aziende</a></div><br />
        </div>

        <div class="col text-center p-5">
        <div class="row"><a href="./Moduli/IndexModuli" class="bottone bottone1">Moduli</a></div><br />
        <div class="row"><a href="./Sistemi/IndexSistemi" class="bottone bottone1">Sistemi</a></div><br />
        <div class="row"><a href="./DBMSs/IndexDBMSs" class="bottone bottone1">DBMS</a></div><br />

        </div>
    </div>
